<div class="container mt-3"  cdkDropListGroup>
  <div class="d-flex mb-4">
    <div class="col text-center">
      <div cdkDropList
           [id]="'deleteArea'"
           class="delete-area"
           (cdkDropListDropped)="deleteTask($event)">
        <span class="text-danger">Drag here to delete</span>
      </div>
    </div>
  </div>
  <div class="d-flex gap-2 flex-nowrap">
    <!-- Planned Column -->
    <div class="col"
         cdkDropList
         [id]="'plannedTasks'"
         [cdkDropListData]="getTasksByState(TaskState.Planned)"
         (cdkDropListDropped)="drop($event)">
      <div class="text-muted h6 ">Planned</div>
      <div class="border border-muted p-3 jira-task-container rounded">
        <div *ngFor="let task of getTasksByState(TaskState.Planned)" cdkDrag class="bg-light text-muted mb-3 p-2 border border-2 border-secondary rounded">
          <app-task-card [dashboard]="true" [task]="task"></app-task-card>
        </div>
      </div>
    </div>

    <!-- In Progress Column -->
    <div class="col"
         cdkDropList
         [id]="'inProgressTasks'"
         [cdkDropListData]="getTasksByState(TaskState.InProgress)"
         (cdkDropListDropped)="drop($event)">
      <div class="text-info h6">In Progress</div>
      <div class="border border-info p-3 jira-task-container rounded">
        <div *ngFor="let task of getTasksByState(TaskState.InProgress)" cdkDrag class="bg-light text-info mb-3 p-2 border border-2 border-info rounded">
          <app-task-card [dashboard]="true" [task]="task"></app-task-card>
        </div>
      </div>
    </div>

    <!-- Completed Column -->
    <div class="col"
         cdkDropList
         [id]="'completedTasks'"
         [cdkDropListData]="getTasksByState(TaskState.Completed)"
         (cdkDropListDropped)="drop($event)">
      <div class="text-success h6">Completed</div>
      <div class="border border-success p-3 jira-task-container rounded">
        <div *ngFor="let task of getTasksByState(TaskState.Completed)" cdkDrag class="bg-light text-success mb-3 p-2 border border-2 border-success rounded">
          <app-task-card [dashboard]="true" [task]="task"></app-task-card>
        </div>
      </div>
    </div>
  </div>
</div>
